/* html, body, #app, #app>div {
    height: 100%
  } */

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: 550;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* body {
    background-color: hotpink;
} */